@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-image: url("image/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(0,0,0, 3), transparent);
    z-index: 100;
}
.nav-logo p{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    cursor: default;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button .btn{
    text-decoration: none;
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(0,0,0,0.2);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    color: #fff;
}
.nav-menu-btn{
    color: #fff;
}
.btn.white-btn{
    background-color: #fff;
    color: black;
}
.btn.white-btn:hover{
    background: #fff;
    color: black;
}
.nav-menu-btn{
    display: none;
}
.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 520px;
    overflow: hidden;
    z-index: 2;
}
.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: Ss ease-in-out;
}
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: Ss ease-in-out;
}
.top span{
    color: #fff;
    font-size: medium;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    color: black;
    margin-left: 5px;
    
}
.top span a:hover{
    background: #fff;
    color: black;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
}
header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
.two-froms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    cursor: text;
}
i{
    position: relative;
    top: -37px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    color: #fff;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(0,0,0,9);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    background: #fff;
    color: black;
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 6px;
    margin-top: 5px;
}
.check:hover{
    background: #fff;
    color: black;
}
.two label a{
    color: #fff;
    text-decoration: none;
}
.two label a:hover{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}